# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
pubspec.lock

# VSCode
.vscode/
.idea/

# Mac / Windows
.DS_Store
Thumbs.db

# Replit / Cache
.replit
.nix
flutter/
